#contextual-wrapper {
    background: url(../images/box-bg.jpg) left top repeat-x #fff;
    margin-top: 20px;
    padding: 5px 0 10px;
}

#contextual-wrapper label {
    padding: 0 9px 10px;
    color: #333;
    text-transform: capitalize;
    font-size: 11px;
}

#contextual-wrapper .contextual_search_container {
    padding: 10px;
}

div.buttons #contextual-wrapper a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none;
    border-color: none;
    border-style: none;
    border-width: 0;
    color: #4488AA;
    font-size: 100%;
    font-weight: normal;
    margin-left: 0px;
    padding: 0;
    text-shadow: none;
}

div.buttons #contextual-wrapper a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none;
    border-color: none;
    border-style: none;
    border-width: 0;
    color: #4488AA;
    font-size: 100%;
    font-weight: normal;
    margin-left: 0px;
    padding: 0;
    text-shadow: none;
}

div.buttons #contextual-1-wrapper {
    display: none;
}

div.buttons #contextual-wrapper .box {
    border-bottom: none;
    border-right: none;
    border-left: none;
    color: #333333;
    font-size: 11px !important;
    padding: 5px 9px;
    text-transform: capitalize;
}